---
const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Soluciones",
    label: "soluciones",
    url: "/#soluciones",
  },
  {
    title: "Nosotros",
    label: "nosotros",
    url: "/#nosotros",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---
<footer>
  <div class="container-footer">
      <div class="grid-footer">
        <article class="item-footer">
          
          <ul class="list-footer">
            {
              navItems.map((link) => (
                <li>
                  <a aria-label={link.label} href={link.url}>
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </article>
          <article class="item-footer">
              <a href="mailto:silfridobenitez65@gmail.com" class="title-footer" target="blank" rel="noopener nofollow">Diseñado por Chio</a>
          </article>
      </div>
    </div>
</footer>

<style>
    footer{
      position: relative;
      padding-top: 4rem;
      padding-bottom: 2rem;
      background-image: url(/public/fondo-footer.png);
      background-size: cover;
      background-repeat: repeat;
      background-attachment: fixed;
    }
    .img-footer{
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: bottom;
    }
    .container-footer{
      max-width: 1180px;
      width: 100%;
      margin: 0px auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .grid-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .list-footer{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      column-gap: 1.4rem;
    }
    .list-footer li a{
      color: var(--white);
      font-size: .9rem;
      line-height: 0.02rem;
      text-decoration: none;
      position: relative;
      transition: color .3s;
    }
    .list-footer li a::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: var(--principal);
      transition: all .3s;
    }
    .list-footer li a:hover{
      color: var(--principal);
    }
    .list-footer li a:hover::after{
      width: 100%;
      transition: all .3s;
    }
    .title-footer{
      font-size: .9rem;
      font-weight: 400;
      color: var(--white);
      letter-spacing: 0.02rem;
      margin-bottom: 0;
      position: relative;
      transition: all .3s;
      text-decoration: none;
    }
    .title-footer::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: var(--principal);
      transition: all .3s;
    }
    .title-footer:hover{
      color: var(--principal);
    }
    .title-footer:hover::after{
      width: 100%;
      transition: all .3s;
    }
    @media screen and (max-width:768px) {
      footer{
        background-image: url(/public/fondo-footer-mobile.png);
        background-size: contain;
      }
      .container-footer{
        top: 60%;
      }
      .grid-footer{
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        padding-bottom: .5rem;
      }
    }
</style>