---
const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Soluciones",
    label: "soluciones",
    url: "/#soluciones",
  },
  {
    title: "Nosotros",
    label: "nosotros",
    url: "/#nosotros",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---
<footer>
  <picture>
    <source srcset="/fondo-footer-mobile.png" media="(max-width: 990px)" />
    <img src="/fondo-footer.png" alt="Imagen de fondo" class="img-footer" loading="lazy">
  </picture>

  <div class="container-footer">
      <div class="grid-footer">
        <article class="item-footer">
          
          <ul class="list-footer">
            {
              navItems.map((link) => (
                <li>
                  <a aria-label={link.label} href={link.url}>
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </article>
          <article class="item-footer">
              <h2 class="title-footer">Diseñado por: </h2>
          </article>
      </div>
    </div>
</footer>

<style>
    footer{
      position: relative;
    }
    .img-footer{
      width: 100%;
      height: 140px;
      object-fit: cover;
      object-position: bottom;
    }
    .container-footer{
      max-width: 1180px;
      width: 100%;
      margin: 0px auto;
      padding: 0px 1rem;
    }
    .grid-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .list-footer{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      column-gap: 1.4rem;
    }
    .list-footer li a{
      color: var(--white);
      font-size: .9rem;
      line-height: 0.02rem;
      text-decoration: none;
      transition: color .3s;
    }
    .list-footer li a:hover{
      color: var(--principal);
    }
    .title-footer{
      font-size: .9rem;
      font-weight: 400;
      color: var(--white);
      letter-spacing: 0.02rem;
      margin-bottom: 0;
    }
    @media screen and (max-width:768px) {
      .container-footer{
        top: 60%;
      }
      .grid-footer{
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        padding-bottom: .5rem;
      }
    }
</style>