---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
---

<Layout 
title="DATASYNC" 
description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.">
	<main>
		<Hero />
		<About />

	</main>
</Layout>

