---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import Soluciones from "../components/Soluciones.astro"
import Informacion from "../components/Informacion.astro"
import Certificaciones from "../components/Certificaciones.astro"
import Contacto from "../components/Contacto.astro"
---

<Layout 
title="DATASYNC" 
description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.">
	<main>
		<Hero />
		<Informacion />
		<Soluciones />
		<Certificaciones />
		<Contacto />

	</main>
</Layout>

