<section class="nosotros">
    <div class="container">
        <h1 class="title-nosotros">Gestión de soluciones tecnológicas integrales.</h1>
        <p class="text-nosotros">Somos una compañía constituida por persona de la experiencia y trayectoria en el mercado tecnológico que nos asociamos con un propósito claro: trabajar con nuestros clientes con profesionalismo y conexión humana, brindando apoyo al área de TI para el alcance de sus resultados. Tenemos experiencias como integradores de varias marcas renombradas mundialmente y contamos con las más altas certificaciones técnicas que avalan nuestros conocimientos.</p>
    </div>
</section>

<style>
    .nosotros{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .title-nosotros{
        font-size: var(--font-seccion);
        letter-spacing: 0.04rem;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 1.2rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .text-nosotros{
        font-size: 1.2rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        text-wrap: pretty;
    }
</style>