<section class="contacto" id="contacto">
    <div class="container">
        <div class="grid-contacto">
            <div class="item-contacto">
                <p class="head-contacto">Contacto</p>
                <h1 class="title-contacto">Complete el formulario y un miembro de nuestro equipo se comunicará con usted.</h1>

                <ul class="lista-contacto">
                    <li>
                        <a href="tel: +595 971 531471" target="blank" rel="noopener nofollow">
                            <svg fill="none" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M15.888 18h-.113C2.157 17.212.231 5.733.005 2.23A2.084 2.084 0 0 1 1.922 0h3.818c.277 0 .548.082.777.237.228.155.405.374.507.63l1.059 2.591c.101.254.124.532.068.8a1.385 1.385 0 0 1-.372.698L6.246 6.432A6.488 6.488 0 0 0 8.037 9.89a6.488 6.488 0 0 0 3.458 1.802l1.498-1.487c.195-.19.442-.32.71-.371.268-.054.547-.026.8.078l2.613 1.048a1.386 1.386 0 0 1 .845 1.295v3.661a2.084 2.084 0 0 1-1.286 1.927 2.086 2.086 0 0 1-.798.157h.011Z"></path></svg>
                            +595 971 531471
                        </a>
                    </li>
                    <li>
                        <a href="mailto:consultas@datasync.com.py" target="blank" rel="noopener nofollow">
                            <svg fill="none" width="22" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 17"><path d="M3.188 0A3.192 3.192 0 0 0 .01 2.922l10.614 5.732 10.614-5.732A3.193 3.193 0 0 0 18.062 0H3.188ZM0 4.723v9.09A3.19 3.19 0 0 0 3.188 17h14.874a3.19 3.19 0 0 0 3.188-3.188V4.723l-10.248 5.54a.78.78 0 0 1-.377.096.78.78 0 0 1-.377-.095L0 4.724Z"></path></svg>
                            consultas@datasync.com.py
                        </a>
                    </li>
                    <li>
                        <a href="https://g.page/blueoceanpy?share" target="blank" rel="noopener nofollow">
                            <svg fill="none" width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 18"><path d="M12.321 2.113a7.218 7.218 0 0 0-10.206 0A6.778 6.778 0 0 0 0 7.021C0 10.09 2.403 14.55 7.218 18c4.808-3.45 7.218-7.94 7.218-10.979a6.779 6.779 0 0 0-2.115-4.908ZM7.218 9a2.692 2.692 0 1 1 0-5.385A2.685 2.685 0 0 1 9.91 6.31a2.693 2.693 0 0 1-2.692 2.69Z"></path></svg>
                            Denis Roa 260 casi Andrade, CP 1844 Asunción, Paraguay
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank" rel="noopener nofollow">
                            <svg fill="none" height="22" width="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M19.381 0H2.619A2.62 2.62 0 0 0 0 2.619v16.762A2.62 2.62 0 0 0 2.619 22h16.762A2.62 2.62 0 0 0 22 19.381V2.619A2.62 2.62 0 0 0 19.381 0ZM6.81 8.38v9.953H3.667V8.381H6.81ZM3.667 5.485c0-.733.628-1.294 1.571-1.294s1.535.56 1.572 1.294c0 .734-.587 1.326-1.572 1.326-.943 0-1.571-.592-1.571-1.326Zm14.666 12.85h-3.142v-5.239c0-1.047-.524-2.095-1.834-2.116h-.042c-1.267 0-1.791 1.08-1.791 2.116v5.238H8.38V8.381h3.143v1.34s1.01-1.34 3.043-1.34c2.08 0 3.766 1.43 3.766 4.327v5.625Z"/></svg>
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank" rel="noopener nofollow">
                            <svg fill="none" height="22" width="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.998 0C3.139 0 0 3.142 0 7.002v10C0 20.861 3.142 24 7.002 24h10C20.861 24 24 20.858 24 16.998v-10C24 3.14 20.858 0 16.998 0zM19 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-7 2c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6zm0 2a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"></path></svg>
                            Instagram
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="item-contacto">
                <div class="container-form">
                    <form action="#" class="form">
                        <div class="form-group">
                            <label for="nombre">Nombre y Apellido</label>
                            <input type="text" name="nombre" id="nombre" required placeholder="Escriba su nombre" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required placeholder="Escriba su email" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="tel">Teléfono</label>
                            <input type="tel" name="tel" id="tel" required placeholder="Escriba su número" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" required placeholder="Escriba su mensaje" autocomplete="off"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn-enviar">
                                <span>Enviar Mensaje</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .contacto{
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .grid-contacto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.4rem;
    }
    .container-form{
        padding-left: 2.4rem;
    }
    .head-contacto{
        font-size: .9rem;
        color: var(--principal);
        letter-spacing: 0.04rem;
        display: block;
        width: fit-content;
        padding: .6rem 1rem;
        margin-bottom: 1rem;
        background: rgba(255, 255, 255, .03);
        border-radius: 50px;
        border: 0.001rem solid rgba(255, 255, 255, .1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    .title-contacto{
        font-size: 2.2rem;
        letter-spacing: 0.04rem;
        line-height: 1.2;
        margin-bottom: 2.6rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .lista-contacto{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1.4rem;
    }
    .lista-contacto li a{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--white);
        text-decoration: none;
        letter-spacing: 0.04rem;
        line-height: 1.5;
        height: 100%;

        padding: 1.2rem;
        border-radius: var(--border-radius);
        border: 1px solid rgba(255, 255, 255, .1);
        background: #0f1014b3;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        position: relative;
        transition: all .3s;
    }
    .lista-contacto li a svg{
        fill: var(--principal);
        transition: all .3s;
    }
    .lista-contacto li a:hover{
        color: var(--principal);
    }
    .lista-contacto li a:hover svg{
        fill: var(--principal);
    }


    /* Formulario */
    .form{
        padding: 2rem;
        border-radius: var(--border-radius);
        border: 1px solid rgba(255, 255, 255, .1);
        background: #0f1014b3;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        position: relative;
        transition: .6s;
    }
    .title-form{
        font-size: 1.4rem;
        letter-spacing: 0.04rem;
        line-height: 1.4;
        margin-bottom: 1.4rem;
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .form-group{
        margin-bottom: 1rem;
    }
    .form-group:last-child{
        margin-bottom: 0;
    }
    .form-group label{
        display: inline-block;
        color: var(--white);
        letter-spacing: 0.04rem;
        padding-right: 1rem;
        margin-bottom: .8rem;
        position: relative;
    }
    .form-group label::after{
        content: '*';
        position: absolute;
        top: 0;
        right: 0;
        color: var(--principal);
        font-size: 20px;
    }
    .form-group input{
        height: 48px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: var(--border-radius);
        background: transparent;
        padding-left: 1rem;
        font-size: 16px;
        letter-spacing: 0.04rem;
        color: var(--white);
    }
    .form-group input::placeholder{
        font-size: .95rem;
    }
    .form-group textarea{
        height: 80px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: var(--border-radius);
        padding-top: 1rem;
        padding-left: 1rem;
        background: transparent;
        font-family: "Onest Variable";
        font-size: 16px;
        letter-spacing: 0.04rem;
        color: var(--white);
    }
    .form-group textarea::placeholder{
        font-size: .95rem;
    }

    .btn-enviar{
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0f1014b3;
        border: 1px solid rgba(255, 255, 255, .1);

        padding: 2px;
        margin-right: auto;
        overflow: hidden;
        border-radius: 50px;

        text-decoration: none;
        cursor: pointer;
        transition: all .6s;
    }

    .btn-enviar span{
        font-size: 1rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        padding: .8rem 2rem;
        border-radius: 50px;

        background: #0f1014b3;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        position: relative;
        z-index: 2;
        transition: all .8s;
    }

    .btn-enviar::after{
        content: '';
        position: absolute;
        width: 100%;
        min-height: 16rem;
        transform: rotate(-55deg);
        animation: spin 6s linear infinite;
        background: conic-gradient(from 0 at 50% 50%, rgba(38, 172, 221, .5) 0deg, rgba(38, 172, 221, 0) 60deg, rgba(38, 172, 221, 0) 310deg, rgba(38, 172, 221, .5) 360deg);
        z-index: 1;
    }

    .btn-enviar:hover{
        color: var(--white);
        border: 1px solid rgba(255, 255, 255, .5);
        background: rgba(38, 172, 221, .5);
        transition: all .6s;
    }

    @keyframes spin {
        0% {
        transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @media screen and (max-width:990px) {
        .title-contacto{
            font-size: 1.7rem;
        }
        .grid-contacto{
            grid-template-columns: 1fr;
            gap: 4rem;
        }
        .container-form{
            padding-left: 0;
        }
        .lista-contacto{
            flex-direction: column;
        }
        .lista-contacto li a{
            align-items: flex-start;
            padding: 0;
            border: 0;
            background: transparent;
        }
        .lista-contacto li a svg{
            fill: var(--white);
            position: relative;
            top: 2px;
            transition: all .3s;
        }
        .btn-enviar::after{
            min-height: 60vh;
        }
    }
    @media screen and (max-width:500px) {
        .btn-enviar{
            width: 100%;
        }
    }
</style>