<section class="informacion">
    <div class="container">
        <h1 class="title-informacion">Gestión de soluciones tecnológicas integrales.</h1>
        <p class="text-informacion">Somos una compañía constituida por persona de la experiencia y trayectoria en el mercado tecnológico que nos asociamos con un propósito claro: trabajar con nuestros clientes con profesionalismo y conexión humana, brindando apoyo al área de TI para el alcance de sus resultados. Tenemos experiencias como integradores de varias marcas renombradas mundialmente y contamos con las más altas certificaciones técnicas que avalan nuestros conocimientos.</p>
    </div>
</section>

<style>
    .informacion{
        padding-top: 6rem;
        padding-bottom: 6rem;
        position: relative;
    }
    .informacion::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(/public/lineas.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .2;
        z-index: 1;
    }
    .title-informacion{
        font-size: var(--font-seccion);
        letter-spacing: 0.04rem;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 1.2rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .text-informacion{
        font-size: 1.2rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        text-wrap: pretty;
    }
</style>