---
import Formas from "../components/Formas.astro"
---
<section class="informacion">
    <div class="container">
        <Formas />

        <div class="wrapper-informacion">
            <div class="grid-informacion">
                <div class="item-informacion">
                    <img src="/nosotros.jpg" alt="Imagen de Informacion de Datasync" class="img-informacion">
                </div>
                <div class="item-informacion">
                    <p class="head-informacion">Sobre Nosotros</p>
                    <h1 class="title-informacion">Gestión de soluciones tecnológicas integrales.</h1>
                    <p class="text-informacion">Somos una compañía constituida por persona de la experiencia y trayectoria en el mercado tecnológico que nos asociamos con un propósito claro: trabajar con nuestros clientes con profesionalismo y conexión humana, brindando apoyo al área de TI para el alcance de sus resultados. Tenemos experiencias como integradores de varias marcas renombradas mundialmente y contamos con las más altas certificaciones técnicas que avalan nuestros conocimientos.</p></div>
            </div>
        </div>
    </div>
</section>

<style>
    .informacion{
        padding-top: 10rem;
        padding-bottom: 8rem;
        position: relative;
        overflow: hidden;
    }
    .wrapper-informacion{
        position: relative;
        z-index: 3;
    }
    .grid-informacion{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
        align-items: center;
        gap: 4rem;
    }
    .img-informacion{
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1.1;
        border-radius: var(--border-radius);
    }
    .head-informacion{
        font-size: .9rem;
        color: var(--principal);
        display: inline-block;
        padding: .6rem 1rem;
        margin-bottom: 1rem;
        background: #0f1014b3;
        border-radius: 50px;
        border: 0.001rem solid rgba(255, 255, 255, .1);
        backdrop-filter: blur(20px);
    }
    .title-informacion{
        font-size: var(--font-seccion);
        letter-spacing: 0.04rem;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 1.2rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    }
    .text-informacion{
        font-size: 1.2rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: left;
        text-wrap: pretty;
    }
</style>