<section class="soluciones" id="soluciones">
    <div class="container">
        <div class="head-soluciones">Soluciones</div>
        <!-- <h1 class="title-soluciones">Servicios tecnológicos para colaborar con el crecimiento de las empresas.</h1> -->
        <h2 class="title-soluciones">En Datasnyc te ayudamos con el desarrollo de sus proyectos.</h2>
        <!-- <p class="text-soluciones">En Datasnyc ayudamos con el desarrollo de sus proyectos, garantizando absoluta satisfacción en los resultados presentados.</p> -->
        
        <div class="grid-soluciones">
            <article class="item-soluciones">
                <div class="card-soluciones">
                    <div class="card-icon-soluciones">
                        <img src="/verticales.svg" alt="Icono de Soluciones" loading="lazy" class="img-soluciones">
                    </div>
                    <div class="card-text-soluciones">
                        <h2 class="title-card-soluciones">Consultorías y Asesoramientos</h2>
                        <p class="paragraph-soluciones">Lleve su negocio al siguiente nivel con una estrategia innovadora, nuevas tecnologías y asesores de innovación que ayudan a impulsar su valor comercial.</p>
                    </div>
                </div>
            </article>
            <article class="item-soluciones">
                <div class="card-soluciones">
                    <div class="card-icon-soluciones">
                        <img src="/verticales.svg" alt="Icono de Soluciones" loading="lazy" class="img-soluciones">
                    </div>
                    <div class="card-text-soluciones">
                        <h2 class="title-card-soluciones">Máxima Eficiencia Tecnológica</h2>
                        <p class="paragraph-soluciones">Ingenieros expertos que se centran en hardware y software de su infraestructura. Son su punto de contacto principal, responsable de la resolución de problemas de múltiples productos y dispositivos en su negocio.</p>
                    </div>
                </div>
            </article>
            <article class="item-soluciones">
                <div class="card-soluciones">
                    <div class="card-icon-soluciones">
                        <img src="/verticales.svg" alt="Icono de Soluciones" loading="lazy" class="img-soluciones">
                    </div>
                    <div class="card-text-soluciones">
                        <h2 class="title-card-soluciones">Verticales de trabajo</h2>
                        <p class="paragraph-soluciones">Networking - Wireless y Movilidad - Seguridad - Colaboración - Datacenter - Cloud Computing - Infraestructura Física - Cableado Estructurado</p>
                    </div>
                </div>
            </article>
            <article class="item-soluciones">
                <div class="card-soluciones">
                    <div class="card-icon-soluciones">
                        <img src="/verticales.svg" alt="Icono de Soluciones" loading="lazy" class="img-soluciones">
                    </div>
                    <div class="card-text-soluciones">
                        <h2 class="title-card-soluciones">Adaptados a tus Necesidades</h2>
                        <p class="paragraph-soluciones">Soluciones de servicios tecnológicos personalizados, adaptados tanto por paquetes de horas como según tu demanda específica. Nuestros servicios están respaldados por contratos que garantizan un alto nivel de atención y satisfacción.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<style>
    .soluciones{
        padding-top: 4rem;
        padding-bottom: 4rem;
        scroll-margin-block: 4rem;
    }
    .head-soluciones{
        font-size: .9rem;
        color: var(--principal);
        letter-spacing: 0.04rem;
        display: block;
        width: fit-content;
        padding: .6rem 1rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        background: rgba(255, 255, 255, .03);
        border-radius: 50px;
        border: 0.001rem solid rgba(255, 255, 255, .1);
        -webkit-backdrop-filter: blur(20px); 
        backdrop-filter: blur(20px); 
    }
    .title-soluciones{
        font-size: var(--font-seccion);
        letter-spacing: 0.04rem;
        line-height: 1.2;
        text-align: center;
        width: 62%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
    }
    .text-soluciones{
        font-size: 1rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-wrap: pretty;
    }

    .grid-soluciones{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.4rem;
        margin-top: 2.6rem;
    }
    .item-soluciones:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 8;
    }
    .item-soluciones:nth-child(2){
        grid-column-start: 8;
        grid-column-end: 13;
    }
    .item-soluciones:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .item-soluciones:nth-child(4){
        grid-column-start: 6;
        grid-column-end: 13;
    }

    /* Card Soluciones */
    .card-soluciones{
        padding: 2rem;
        border-radius: var(--border-radius);
        border: 1px solid rgba(255, 255, 255, .1);
        background: #0f1014b3;
        -webkit-backdrop-filter: blur(20px); 
        backdrop-filter: blur(20px);
        min-height: 290px;
        height: 100%;
        transition: all .3s;
    }
    .card-soluciones:hover{
        background: rgba(255, 255, 255, .04);
        border: 1px solid rgba(255, 255, 255, .4);
        transition: all .6s;
    }
    .card-icon-soluciones{
        margin-bottom: 1rem;
    }
    .img-soluciones{
        height: 38px;
        width: auto;
        object-fit: contain;
    }
    .title-card-soluciones{
        font-size: 1.4rem;
        letter-spacing: 0.04rem;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 1.2rem;
        background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		background-position: 0%;
    }
    .paragraph-soluciones{
        font-size: 1rem;
        color: var(--white);
        letter-spacing: 0.04rem;
        line-height: 1.5;
        text-align: left;
        text-wrap: pretty;
    }
    /* Fin Card Soluciones */

    @media screen and (max-width:768px) {
        .title-soluciones{
            width: 100%;
        }
        .grid-soluciones{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
        .title-card-soluciones{
            line-height: 1.4;
        }
    }

</style>